<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/img/moph_logo.png" alt="logo">
        <span>ระบบติดตามการถ่ายโอนที่ดิน</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div class="flex justify-content-end align-items-center">
            <a>{{userDetail.hname}}</a>
            <button class="p-link layout-topbar-button" (click)="onLogout()">
                <i class="pi pi-sign-out"></i>
                <span>ออกจากระบบ</span>
            </button>
        </div>
    </div>
</div>